.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chat-content {
    width: 100%;
    height: calc(100% - 64px);
    position: relative;
    z-index: 0;
}

.message-area {
    position: relative;
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: center;
}

.message-area button {
    height: 64px;
    width: 64px;
    overflow: hidden;
    margin-left: 10px;
}

.mdc-text-field {
    position: relative;
    width: calc(90% - 64px);
}