.statusbar {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.9);
    background: #2c2c2c;
    display: flex;
    align-items: center;
    color: white;
    height: 25px;
    z-index: 2;
}

.statusbar p {
    padding: 0;
    margin: 0 auto;
}

.chat {
    height: 100%;
    width: 100vw;
    overflow-y: auto;
}

.chat::-webkit-scrollbar {
  display: none
}

.bar {
    min-height: 64px;
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
    text-indent: 10px;
}

.bar .message-content {
    padding: 0 40px;
    height: 100%;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    background: var(--nav-bg);
    color: var(--color)
}

.bar button {
    background: var(--primary-color);
    border: none;
    min-width: 64px;
    height: 100%;
    color: var(--btn-color)
}

.bar button:hover {
    background: var(--primary-hover)
}